.facts-and-numbers {
    background: rgba(0, 0, 0, 0.35) url(../img/factsnumbers.png) 0 50%/cover no-repeat;
    height: 100%;
    color: #eee;
}

.facts-and-numbers__substrate {
    background-color: rgba(0, 0, 0, 0.6);
    &-light {
        background-color: rgba(255, 255, 255, 0.4);    
    }
}

.facts-and-numbers__minislider {
    &:after {
            content: '';
            display: block;
            margin: auto;
            width: 75px;
            border: 3px solid #e64a19;
    }
}
   
.facts-and-numbers__counter {
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 60px;
    
    &:after {
        content: '';
        display: block;
        margin: 20px auto;
        width: 75px;
        border: 3px solid #4d4c4b;
    }
}
.facts-and-numbers__text {
    font-size: 24px;
    padding-bottom: 60px;
    
}