.footer { 
    color: #999999;
}

.footer__form {
    .footer__form-text {
        margin-left: -15px;
    }
}

.footer__form-text {
    margin-top: 20px;
    text-transform: uppercase;
    color: #999999;
    
    &:after {
        content: '';
        display: block;
        position: relative;
        margin: auto;
        width: 100%;
        border: 1px solid #4d4c4b;
    }
    &:hover {
        color: white;
        text-decoration: none;
    }
}

.footer__nav-column {
    a {
        
    }
}

.footer__nav-column__links {
    color:#999999;
    display: block;
    &:hover {
        color: white;
        text-decoration: none;
    }
}

.footer__nav-right-side {
    margin-left: 55px;
    a {
        display: inline-block;
        text-transform: uppercase;
        margin-left: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}