.news-info {
    padding-left: 106px;
    padding-right: 106px;
    
}

.news-info__date {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Source Sans Pro';
    letter-spacing: 1px;
    margin-top: 0px;
    @media (max-width: @screen-lg-min) {
        margin-top: 15px;
    }
}

.news-info__text {
    margin-bottom: 20%;
}

.news-photo__image {
    max-width: 555px;
    margin-bottom: 40px;
}


.news-slider__news {    
        text-align: left;
        margin-bottom: 20px;
        &:before {
            content: ' ';
            display: block;
            background-color: #212121;
            width: 6px;
            height: 73px;
            float: left;
            margin-right: 20px;
            margin-top: -8px;
            
    }
    }

.news-slider__news_title {

    font-size: 18px;
    
    
}