.news-info {
    padding-left: 105px;
    padding-right: 105px;
    
}

.news-info__date {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Source Sans Pro';
    letter-spacing: 1px;
    margin-top: 60px;
    @media (max-width: @screen-lg-min) {
        margin-top: 15px;
    }

    &_slider {
        margin-top: 0;
    }
}

.news-info__text {
    margin-bottom: 20%;
}

.news-photo__image {
    max-width: 550px;
    margin-bottom: 40px;
    @media (max-width: @screen-sm-min) {
        width: 90%;
    }
}

.news-slider__news {    
        text-align: left;
        margin-bottom: 20px;
        &:before {
            content: ' ';
            display: block;
            background-color: #212121;
            width: 6px;
            height: 73px;
            float: left;
            margin-right: 20px;
            margin-top: -8px;
            
        }
    }

.news-slider__title {

    font-size: 18px;
}