.personal-card {
    margin-top: 90px;
    padding-bottom: 50px;
    display: flex;
    text-transform: uppercase;
}



.personal-card__info {
    margin-left: 15px;
    margin-top: 13px;
    
    p {
        margin-bottom: 0px;
    }
}